dist: xenial
sudo: true

before_install:
  - pip install -r requirements.txt
  - sudo apt-get -y update

install:
  - pip install pytest-cov
  - pip install .

language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"

script:
  - ./test.sh
  - pytest
